@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("My page", "Index", "Home")</li>
        <li>
            <div class="nav-collapse">
                @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "form-search", style = "padding-top:4%" }))
                {
                    <input type="text" class="input-medium search-query" id="searchText" name="searchText" placeholder="Search">
                    <button type="submit" class="btn btn-sm">Search</button>
                }
            </div>
        </li>
    </ul>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello, " + User.Identity.Name + "!", "EditProfile", "Account", routeValues: null, htmlAttributes: new { title = "EditProfile" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

<script type="text/javascript">
    $(function () {
        $("#searchText").autocomplete({
            source: '@Url.Action("AutocompleteSearch", "Home")'
        });
    });
</script>